
<div id="container">

		<%= render 'form' %>

</div>

<div id="description" class="centerText">
	<h2>What it is Tripea?</h2>
	<p> Tripea is a new for the discovery where budget can take you for traveling </p>
</div>

<div id="explanation" class="row">
	<div  class="span4 centerText">
		<h2>Simplify your Life</h2>
		<p>Tu viaje soñado en 3 simples pasos</p>
	</div>
	<div class="span8">
		<img src="/images/imac-03.jpg" class="steps">
	</div>
</div>
