
<div class="form">
	<%= render 'form' %>
</div>	

<div id="description" class="centerText">
	<h2>What it is Tripea?</h2>
	<p><img src="/images/arrow.png" class="rotationImg"></p>
	<p> Tripea enhances current industry processes to imporve the passenger experience and make travel more responsive and focused around traveler needs, preferences and budget.</p>
	<p><img src="/images/arrow.png"></p>
	<ul class="descriptionSum">
		<li>TRIP</br> PRESONALIZATION</li>
		<li>+</li>
		<li>BUDGET</br> OPTIMIZATION </li>
		<li>+</li>
		<li>TRAVELLER</br> COMUMUNITY</li>
		<li>=</li>
		<li>NEW TRAVEL</br> EXPERIENCE</li>
		
	</ul>
</div>

<div id="explanation" class="row">
	<div  class="span4 centerText">
		<h2>REDESIGN THE YOU WAY TRAVEL</h2>
		<p>Tripea provide insight that help deliver a more intelligent travel experience than has ever been possible.</p>
	</div>
	<div class="span8">
		<img src="/images/imac-03.jpg" class="steps">
	</div>
</div>
