
<div>
	<%= render 'form' %>
</div>

<div id="description">
	<h2>What it is Tripea?</h2>
	<p> Tripea is a new for the discovery where budget can take you for traveling </p>
</div>

<div class="row">
	<div id="explanation" class="span4">
		<h2>Simplify your Life</h2>
		<p>Tu viaje soñado en 3 simples pasos</p>
	</div>
	<div class="span8">
		<img src="/images/logo.png">
	</div>
</div>
