
<div class="form">
	<%= render 'form' %>
</div>	

<div id="description" class="centerText">
	<h2>What it is Tripea?</h2>
	
	<p class="descriptionText"> Tripea enhances current industry processes to imporve the passenger experience and make travel more responsive and focused around traveler needs, preferences and budget.</p>
	
	<ul class="descriptionSum">
		<li>TRIP</br> PRESONALIZATION</li>
		<li>+</li>
		<li>BUDGET</br> OPTIMIZATION </li>
		<li>+</li>
		<li>TRAVELLER</br> COMUMUNITY</li>
		<li>=</li>
		<li>NEW TRAVEL</br> EXPERIENCE</li>
		
	</ul>
</div>



