/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


#myCarousel{
	margin-top:-20px;
}

#description {
	background-color: #e6e6e6;
	padding: 25px;
}

#explanation{
	background-color: #333;
	padding: 45px;
	color: #e6e6e6;
}

#register{
	padding:10px;
	width: 100%
}

#footer{
	text-align: center;
	margin: 0px auto;
	width: 30%;
}


.icons{
	list-style: none;
	text-align:center;
}

.icons li{
	display: inline-block;
	margin: 0 15px 0 15px;	
}

.icons li a:hover{
	background-color: transparent;	
	color: none;
}

.register_button{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	width: 150px;
	height: 50px;
	background-color: #2799cb;
	color: #E6E6E6;
	border: none;
}


.formInput{
	height:60px;
	width: 250px;
	font-size: 25px;;
}


.centerText {
	text-align:center;
}

.steps{
	width: 450px;
	float:right;
}



.headerNav li{
	display:inline-block;
	margin: 0 25px 0 25px;
	padding: 8px;
	border-left: solid thin;
}

.headerNav{
	list-style: none;
}

.footerNav{
	list-style: none;
	text-align:center;
	margin-top: 25px;
}

.footerNav li{
	display:inline-block;
	margin: 0 25px 0 25px;
	padding: 10px;
	border-left: solid thin;
}

.rotationImg{
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
}

@font-face
{
font-family: myriad;
src: url('/fonts/MYRIADPRO-REGULAR.otf'), 	
}

p{
	font-family:myriad;
}
